body {
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background-color: #1a1a1a;
    background-image: url('../img/menu-bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.deck-counter {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ffe598;
}


.hand-value {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #ffe598;
}