.menu {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    gap: .1rem;
    visibility: hidden;
}

.menu-item {
    background-color: #2a2a2a;
    color: #d4af37;
    border: 2px solid #d4af37;
    padding: 10px 30px;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.3s, color 0.3s;
    animation: moveRight 1s forwards;
    width: 100%;
}

.menu-item:hover {
    background-color: #d4af37;
    color: #2a2a2a;
    scale: 1.1;
}

.game-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 200px;
    min-height: 200px;
    top: 25px;
    left: 25px;
    gap: 1rem;

    animation: moveRight 1s forwards;
  }
  
  .game-stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fbdd8e;
    filter: blur(65px);
    z-index: -1;
  }